/CinePotros-main/Dominio/target/
/CinePotros-main/GeneradorQR/target/
/CinePotros-main/Persistencia/target/
/CinePotros-main/Servicios/target/
/Persistencia/target/
/Servicios/target/
/Persistencia/nbproject/
